body{
    width:100%;
	position:absolute;
    font-size: 36px;
    font-family: 'Armata', sans-serif;
	color: #eee;
	text-shadow: 1px 1px 2px #000;
	margin:0;
}

#bgImg{
	min-height: 100%;
	min-width: 1024px;
			
	width: 100%;
	height: auto;
			
	position: fixed;
	top: 0;
	left: 0;
}

.step{
	width:80%;
    position: relative;
	font-size: 24px;
    text-align:center;  		
}

#start{
	font-size: 36px;
}

#smallImg{
	min-height: 70%;
	min-width: 600px;
			
	width: 100%;
	height: 100%;
			
	position: fixed;
	top: 0;
	left: 0;
	z-index:-5000;
}
			
.impress-on-overview .step {
	opacity: 1;
	cursor: pointer;
}
.impress-enabled .step{
    -webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;				
}
    
.hint_text{
	margin-top: 120px;
    font-size:30px;
    background-color:#282a2f;
    padding:15px;
	border: 1px solid #484d52;
	border-radius: 5px;
	font-size: 18px;				
}



 .fallback-message {
  	color: #eee;
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;
 }

 .fallback-message p {
    margin-bottom: 10px;
 }

.impress-supported .fallback-message {
     display: none;
}

em{
	font-style: normal;
	border-bottom: 1px solid #484d52;
	padding-bottom: 2px;
	color: #d5a830;
}
h4{
	font-size: 24px;
    font-family: 'Armata', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}
.Image{
	height:600px;
	width: 800px;	
	z-index: -1;
}		
			
.arrow{
    height:86px;
    width:60px;
    position:absolute;
    background:url('../images/arrows.png') no-repeat;
    top:50%;
    margin-top:-43px;
    cursor:pointer;
    z-index:5000;
}

.previous{ 
 	background-position:left top;left:0;
}
.previous:hover{ 
	background-position:left bottom;
}
.next{ 
	background-position:right top;right:0;
}
.next:hover{ 
	background-position:right bottom;
}	

#footer{
	height:30px;
	width:100%;
    position:absolute;
    top:90%;
	font-size:16px;
    cursor:pointer;
    z-index:5000;
}
